[submodule "freertos"]
	path = freertos
	url = ../fhal-kernel.git
[submodule "scripts"]
	path = scripts
	url = ../fhal-buildsystem.git
[submodule "driver"]
	path = driver
	url = ../fhal-driver.git
[submodule "mach"]
	path = mach
	url = ../fhal-mach.git
[submodule "arch"]
	path = arch
	url = ../fhal-arch.git
[submodule "tools/autocopt-tools"]
	path = tools/autocopt-tools
	url = ../fhal-libcopt.git
