menuconfig CRAZYFLIE
	bool "Crazyflie"
	select USE_APPLICATION_TASK_TAG
	select USE_TIMERS
	select SENSOR
	select MPU9250
	select ACCEL
	select GYRO
	depends on MOTOR
	default n
	config PIDVALUES_CRAZYFLIE
		bool "PID Values of Crazyflie"
		depends on CRAZYFLIE
		default n
	config PIDVALUES_TCM
		bool "PID Values of TCM"
		depends on CRAZYFLIE
		default y
	config MOTOR_ESC_MIN
		int "Motor ESC Min Time"
		depends on CRAZYFLIE
		default 1050
	config MOTOR_ESC_MAX
		int "Motor ESC Min Time"
		depends on CRAZYFLIE
		default 1860
	config MOTOR_TEST
		bool "Activate Motor Test"
		depends on CRAZYFLIE
		default n
		help
			Activate Motor Test every System start
