menuconfig CRAZYFLIE
	bool "Crazyflie"
	select USE_APPLICATION_TASK_TAG
	select USE_TIMERS
	select SENSOR
	select MPU9250
	select ACCEL
	select GYRO
	default y
	config PIDVALUES_CRAZYFLIE
		bool "PID Values of Crazyflie"
		depends on CRAZYFLIE
	config PIDVALUES_TCM
		bool "PID Values of TCM"
		depends on CRAZYFLIE
	config SELECT_THRUST_LOCKED
		bool "Thrust Locked to 0 on switch"
		depends on CRAZYFLIE
		help 
			Thrust Locked to 0 on switch from Spectrum to Linux Contoll
