aclocal.m4
autom4te.cache
depcomp
config.guess
config.sub
config.status
configure
install-sh
missing
Makefile.in
Makefile
**.log
**.o
**.a
**.so
**config.h
**config.py
.deps
compile
*.pyc
src/shutdown
src/pid
src/reset
src/clear
