menu "Aplication Settings"
config MOTORTEST
	bool "Motor Test: Warinung Motor speed up to maximum"
	default n
config RC_MOTORTEST
	bool "Motor Test over RC"
	default n
config MOTOR_OFF
	bool "Init PWM only"
	default n
config DISPLAY
	bool "Activate Display"
	default n
	depends on CRAZYFLIE
config APP_INCLUDE
	string
	default "-Icrazyflie/include/ -Icrazyflie/modules/interface/ -Icrazyflie/hal/interface/ -Icrazyflie/utils/interface/ -Icrazyflie/drivers/interface/"
config APP_LIBS
	string
	default "-lm"
endmenu
